@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --yellow-basic:#fdfd99;
    --green-basic:rgba(197, 231, 180,0.5);
    --yellow-hard:rgba(243, 184, 214,0.5);
/*    67 71*/
    --font-color:#1e1f26;
    
}

html{
    font-size: 10px;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    color:var(--font-color);
    font-family: 'Roboto', sans-serif;
}

button{
    background: var(--yellow-basic);
}
#root{
    margin: 0;
    padding: 0;
}
.container{
     width: 98vw;  
    margin: 0;
    padding: 0;
    
}
a{
    font-weight: bold;
    text-decoration: none;
    color: black
}
a:visited{
    color:black;
}



@mixin bordered(){   
    border: 2px solid var(--yellow-hard);
}

@mixin rounded(){
    border-radius: 2rem;
}


                //navigation



nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    & .nav-list{
            position: initial;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            width: 85%;
            background: transparent;
            transition:  all 0.5s ease;
            & .nav-link-item{
                @include rounded();
                width: 80%;
                text-align: center;
                display: inline-block;
                margin: 0 0.5rem;
                text-transform: uppercase;
                font-size: 1.3rem;
                line-height: 4rem;
                transition: all 0.2s ease-in;
                &:hover{
                        background: var(--yellow-basic);
                }
            }
        
    }

}
.logo-font{
    font-family: 'Henny Penny', cursive;

}

.nav-logo{
    line-height: 2rem;
    font-size: 1.3rem
    
}


.nav-wrapper{
    width:100%;
    box-sizing: border-box;
    background: var(--green-basic);
    padding: 1.5rem 0;
}

.btn{
    @include rounded;
    @include bordered;
    
    width: 60%;
    background:  var(--yellow-basic);
    text-align: center;
    margin: 2rem auto;
    display: block;
    font-size: 3rem;
    outline: none;
    cursor :pointer;
}

.short-btn{
    @include rounded;
    @include bordered;
    padding: 0 2rem;
    background:  var(--yellow-basic);
    text-align: center;
}

                    //banner of front page
.banner{
    background-color: var(--yellow-basic);
    background: url("./components/img/banner.jpg");
    height: 700px;
    background-position: top;
    background-size: cover;
    position: relative;
    width: 100%;
    &-descr{
            font-size: 6rem;
            text-indent: 5rem;
            width: 60%;
            margin-left: auto;
            box-sizing: border-box;
            padding: 10rem;
            height: 100%;
            text-align: center;   
    }
}



.burger{
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 200;
    right: 6rem;
    top: 3rem;
    width: 1px;
    height: 1px;
    &-item{
        width: 20px;
        height: 3px;
        background: black;
        margin: 0.5rem;
        transition: all 0.3s linear;
    }
   
}




.mobile{
    & .burger{
        top: 3.5rem;
        & .burger-item{
            background:  var(--yellow-basic);
                &:first-child{
                        position: absolute;
                        transform: rotateZ(45deg)  ;
                }
                &:nth-child(2){
                        position: absolute;
                        opacity: 0;
                }
                &:last-child{
                        position: absolute;
                        transform: rotateZ(-45deg) ;
                }    
        }
        
    }
    
       
}
  


.list-product-item{
    background: var(--green-basic);
    margin: 2rem 0 ;
    margin-top:0 ;
    width: 100%;
}

    .list-product-title{
            text-align: center;
            font-size: 2rem;
            padding: 2rem 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            color: black;
        }

.list-product-img{                    
    height: 15vh;
    width:15vw;
    padding-left: 5%;
}

.list-product-description{
    width: 50%;
    font-size: 2rem;
    padding: 2rem;
    height: 100px;
        
    
}


.list-product-counter{
    display: flex;
    width: 20%;
    margin: 0 auto;
    justify-content: center;
        &   .list-counter-item{
                    @include bordered;
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 3rem

        }
    
}



.list-product-info{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-product-action{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: auto;
    justify-content: space-between;
} 


.list-action-item{
    background:  var(--yellow-hard);
    width: 100%;
    margin:0 2rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 3rem;
    &:last-child{
        border-top-right-radius: 0;
        margin-right: 0;   
    }
    &:hover{
       background: var(--yellow-basic);
       cursor: pointer
    }
}
    
    
.search-bar{
    width:80%;
    margin: 4rem auto;
    margin-bottom: 0;
}

.login-form-wrapper{
    background: url(components/img/login.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    & input{
            width: 90%;
            margin: 0 auto
        
    }
    
    
}

input{ 
    @include rounded;
    @include bordered;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
    display: block;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    
}

label{
    color: black;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.bucket-bg{
    background: url("components/img/bucket.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100%;
    
    
}

.wishList-bg{
     background: url("components/img/wish.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 80vh;
    width:100%;
    margin: 0 auto;
}

.left-rounded-border{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.right-rounded-border{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
}


.list-product-price{
        font-size: 3rem;
        margin: 2rem 0; 
        width: 60%;
            &:nth-child(5){
                order: 3;
                text-align: center;
                padding-bottom: 1rem;
                display: block;
                width: 80%;

            }
}


.list-product-prices{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/*корзина и лист пожеланий*/
.wishlist-title{
    font-size: 2rem;
    background:var(--yellow-basic);
    display: inline-block;
    padding: 1rem;
    margin: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.wishlist-wrapper{
    border: 2px solid var(--yellow-hard);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}
/*footer*/

footer{
    background: var(--yellow-hard);
    position: absolute;
    align-items: center;
    left: 0;
    bottom: -15vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
        p{
            width: 40%;
            text-align: center;
        }
        .#{&}-links{
            display: flex;
            width: 50%;
            justify-content: space-between;
            cursor: pointer;
        }
        .#{&}-link-item{
            @include rounded;
                line-height: 3rem;
                font-size: 2rem;
                width: 10%;
                text-align: center;
                transition: all 0.3s ;
                        &:hover{
                        background: var(--yellow-basic);
                        }
            }
}
/*profile*/

.my-wrapper{
    margin-top: 10rem;
    display: flex;
   
}
.my-user-pic{
     background: var(--gray-basic);
    margin: 0 auto
}
.my-user-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    
}
.my-info-item{
    font-size: 3rem;
}

.user-info{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem;
    padding-left: 10rem;
        &-item:nth-child(1){
            width: 100%;
            font-size: 1.5rem;
            text-align: right;
        }
        &-item:nth-child(2){
            width: 100%;

        }
}


.user-wrapper{
    align-items: center;
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    
}
     .user-pic{
        background: var(--gray-basic);
        width: 15vw;
        height: 20vh;
        margin: 0 auto

    }

.user-info-item{
    font-size: 3rem;
       &:first-child{
            width: 100%
        }
}
/*review-form*/

.review-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    & textarea{
            @include rounded;
            @include bordered;
            outline:none;
            padding: 2rem;
            text-align: center;
            padding: 1rem;
            font-size: 3rem;
            margin: 0;
            margin-top: 3rem;
    }
    & button{
        @include rounded;
        border: 2px solid var(--yellow-hard);
        outline:none;
        width: 50%;
        margin: 2rem auto;
        cursor: pointer;
        font-size: 3rem;
    }
}


.big-msg{
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.review-form-msg{
    text-align: center;
    font-size: 2rem;
    display: block;
    
}


@media only screen and (max-width:1200px){
    
    .user-pic{
    background: var(--gray-basic);
    width: 20vw;
    height: 20vh;
    padding-left: 5%;
    margin: 0 auto;
    
}
    
    .list-action-item{
        font-size: 1rem;
    }
    
    .list-product-action{
        width: 90%;
        
    }
     .login-form-wrapper{
        width: 70%;
    }
    .banner-descr{
        width: 60%;
    font-size: 5rem;
     padding: 7rem;   
        line-height: 9rem;
}
  
    

}


@media only screen and (max-width:768px){
    .login-form-button{
        font-size: 1.5rem;
        padding: 0.5rem;
        
    }
    footer{
        flex-direction: column;
    }
       .nav-wrapper{
        display: none;
            
    }
    .btn
    
    .nav-list{
        display: none;    
    }
    
    .mobile {
        & .nav-wrapper{
            display: flex;
        }
        & .nav-link-item{
            margin: 20% 0;
            font-size: 3rem;
            width: 50%
        }
        & .nav-list{
            display: flex;
            position: fixed;
            z-index: 100;
            width: 100vw;
            height: 110vh;
            left: 0;
            top:0;
            background: var(--font-color);
            flex-direction: column;
            justify-content: space-around;
            padding:  5rem 0;
            margin: 0 auto;
            align-items: center;
            transition:  all 0.5s ease; 
        }
    }
    .list-product-img{
     height: 10vh;
    width:15vw;
    
  
}
    .banner-descr{
        width: 70%;
        font-size: 4rem;
         padding: 7rem;
        line-height: 8rem;
}

    .nav-logo{
        display: none;
    }
    .burger{
        display: initial;
    }

    .list-product-action{
        width: 100%;
        .list-action-item{
            margin: 0 1rem ;
            &:first-child{
                margin-left: 0;
                border-top-left-radius: 0;
            }
            &:last-child{
                margin-right: 0;
                border-top-right-radius: 0;
            }
        }
    }

    
    .list-product-prices{
        width: 70%;
    }
     .list-counter-item{
          width: 15%;
        font-size: 2.5rem
    
    }
    .login-form-wrapper{
        width: 80%;
    }
    .user-wrapper{
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
        
    }
    .user-info{
        margin: 0 auto;
        padding: 1rem;
    }

    .list-product-description{
        font-size: 1.5rem;
        height: 100%;
    }



}

@media only screen and (max-width:500px){
    .short-btn{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .user-pic{
        background: var(--gray-basic);
        width: 25vw;
        height: 25vh;
        margin: 0 auto
    
}
     .banner-descr{
        font-size: 3rem;
         padding:10rem 2rem;
         width: 80%;
         line-height: 7rem;
         
}
    .my-wrapper{
        flex-direction: column;
        
    }
    .btn{
        font-size: 1.5rem;
        width: 80%;
        margin: 3rem auto;
    }
    
     
    .my-user-info{
        padding-left:0;
        margin: 0 auto;
    }
    .search-bar{
        width: 90%;
        font-size: 1.5rem;
    }
    
    .list-product-action{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2rem;
             .list-action-item{
                border-radius: 0;
                margin: 0 auto;
                width: 100%;
                &:first-child{
                    margin-left: 0;
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                    width: 100%;
                }
                &:last-child{
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    margin-left: 0;
                    width: 100%;

                }

            }
    }
    
    .user-info-item{
        font-size: 2rem;
    }
    
    .list-product-img{
        height: 25vh;
        width:30vw;
        order: 1
    }
    .list-product-description{
        font-size: 2rem;
        padding: 2rem;
        margin-top: 2rem;
        order: 2;
        width: 80%;
    }
    .list-product-counter{
        margin-top: 2rem;
        margin-top: 2rem;
        order: 3;
        .list-counter-item{
                  width: 20%;
                font-size: 2.5rem
    
        }
    }
    
    .list-product-prices{
        width: 90%;
        justify-content: space-between;
        order: 4;
            .list-product-price{
                 font-size: 2.5rem  ;
            }
    }
    
    .list-product-info{
        flex-direction: column;
    }
   
}

@media only screen and (max-width:320px){
      .banner-descr{
              width: 90%;
              font-size: 2.5rem;
              padding:2.5rem; 
              line-height: 7rem;
}
    .list-product-price{
        font-size: 2rem
    }
     .login-form-wrapper{
        font-size: 2rem;
    }
    .list-product-title{
        font-size: 1.5rem
    }
    .list-product-counter{
        width: 40%;
    }
   
    
}